{% extends  "base.html" %}

{% block title %} Perfil {% endblock %}

{% block subtitle %}
<a class="navbar-brand" href="javascript:;">Perfil</a>
{% endblock %}

{% block content %}

{% if user.id_rol.cargo == 'Administrador' %}

  <li>
    <a href="{% url 'Añadir' %}">
      <i class="centrar bi bi-person-fill icon"></i>
      <p>Administrador</p>
    </a>
  </li>

{% elif user.id_rol.cargo != 'Administrador' %}

  <li >
    <a href="{% url 'dashboard' %}">
      <i class="centrar bi bi-speedometer2 icon"></i>
      <p>Dashboard</p>
    </a>
  </li>

      {% if user.id_rol.cargo == 'Gerente' %}
        <li class="active ">
          <a href="{% url 'Perfil' %}">
            <i class="centrar bi bi-person-fill icon"></i>
            <p>Gerente</p>
          </a>
        </li>

        {% elif user.id_rol.cargo == 'Jefe de Tienda' %}
        <li>
          <a href="{% url 'predicción' %}">
            <i class="centrar bi bi-magic icon"></i>
            <p>Predicción</p>
          </a>
        </li>
        <li class="active ">
          <a href="{% url 'Perfil' %}">
            <i class="centrar bi bi-person-fill icon"></i>
            <p>Jefe de Tienda</p>
          </a>
        </li>
        
        {% elif user.id_rol.cargo == 'Cajero' %}

        <li class="active ">
          <a href="{% url 'Perfil' %}">
            <i class="centrar bi bi-person-fill icon"></i>
            <p>Cajero</p>
          </a>
        </li>
      

      {% endif %}

{% endif %}

{% endblock %}

{% block content2 %}

<div class="col-3">

</div>

<div class="col-5">
    <fieldset>
      <legend>Cambia tu contraseña</legend>
        <div class="section centrar">
          <form action="CambContra">
  
            <div class="col s6 form-group">
                <label>Contraseña:</label>
                <br>
                <input class="form-control" placeholder="Contraseña Actual" type="password" id="pass" name="pass"  required> </div>

            <div class="col s6 form-group">
                <label>Nueva Contraseña:</label>
                <br>
                <input class="form-control" placeholder="Nueva Contraseña" type="password" id="pass" name="pass"  required> </div>

            <div class="col s6 form-group">
                <label>Confirmar Contraseña:</label>
                <br>
                <input class="form-control" placeholder="confirmar Contraseña" type="password" id="pass" name="pass"  required> </div>            
  
          <div class="col s6 MargenDiv">
            <button type="submit" class="btn btn-success btn-block form-control">Guardar</button>
          </div> 
        </form>                       
        </div>
    </fieldset>
  
  </div>

{% endblock %}